
@{
    ViewBag.Title = "Index";
}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" href="css/bootstrap.css" id="bootstrap-css" media="all" />
@*<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" id="bootstrap-css" media="all" />*@
<script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/style/StyleSheet.css" />
<h2>Volunteering Activities</h2>

<div class="container">
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card">
            <img class="card-img-top" src="http://www.doorwaysarizona.com/wp-content/uploads/2013/10/bigstock-portrait-of-a-happy-and-divers-19389686.jpg">
            <div class="card-block">
                <h4 class="card-title">Volunteering Team</h4>
                <div class="meta">
                    <a href="#">Friends</a>
                </div>
                <div class="card-text">
                    There is a volunteering team My Charity with 10 active and kind volunteers!
                </div>
            </div>
            <div class="card-footer">
                <span class="float-right">Joined in 2019</span>
                <span><i class=""></i>75 Friends</span>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card">
            <img class="card-img-top" src="https://www.goodnet.org/photos/620x0/27382_hd.jpg">
            <div class="card-block">
                <h4 class="card-title">Volunteering at schools</h4>
                <div class="meta">
                    <a href="#">Friends</a>
                </div>
                <div class="card-text">
                   Child care volunteering type is also available in My Charity.
                </div>
            </div>
            <div class="card-footer">
                <span class="float-right">Joined in 2019</span>
                <span><i class=""></i>75 Friends</span>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card">
            <img class="card-img-top" src="http://thesmartlocal.com/images/easyblog_images/2386/silver.jpg">
            <div class="card-block">
                <h4 class="card-title">Volunteering for Retired People</h4>
                <div class="meta">
                    <a href="#">Friends</a>
                </div>
                <div class="card-text">
                    Several retirement houses are connected through this app and can volunteers for them.
                </div>
            </div>
            <div class="card-footer">
                <span class="float-right">Joined in 2018</span>
                <span><i class=""></i>75 Friends</span>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card">
            <img class="card-img-top" src="https://www.capitaland.com/content/dam/capitaland-sites/international/about-capitaland/sustainability/capitaland_hope_foundation/volunteer-activities/2017/ive-chifeng/IVE%20Chifeng%20-%20Andrew.jpg.transform/cap-midres/image.jpg">
            <div class="card-block">
                <h4 class="card-title">Volunteering to Remote Villages</h4>
                <div class="meta">
                    <a href="#">Friends</a>
                </div>
                <div class="card-text">
                    Volunteering activities can reach out to remote villages.
                </div>
            </div>
            <div class="card-footer">
                <span class="float-right">Joined in 2018</span>
                <span><i class=""></i>75 Friends</span>
            </div>
        </div>
    </div>
    <div>
        <input type="button" ONCLICK="window.location.href='/Volunteers/Create'" value="Register as Volunteer!" class="btn btn-default btn-lg" style="margin-left:400px;margin-top:50px;background-color:green;color:white" />
        <input type="button" ONCLICK="window.location.href='/Volunteers/Index'" value="See Volunteer List!" class="btn btn-default btn-lg" style="margin-left:400px;margin-top:50px;background-color:green;color:white" />

    </div>
</div>